a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

a:hover {
    color: rgb(150, 150, 150);
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}